@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body,
:root {
  height: 100%;
}

:root {
  --background: #F9F8F6;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #F9F8F6;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-plus-jakarta-sans), Arial, Helvetica, sans-serif;
}

h1, h3, h4, h5, h6 {
  font-family: var(--font-space-grotesk);
  letter-spacing: 0.2rem;
}